@model Asp.Net.Identity.Models.ViewModels.Account.LoginViewModel

@{
    Layout = "~/Views/Shared/Header.cshtml";
}
<h1>Login</h1>
<div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <label>Username</label>
        <br />
        @Html.TextBoxFor(model => model.Username) @Html.ValidationMessageFor(model => model.Username)
        <br />
        <label>Password</label>
        <br />
        @Html.TextBoxFor(model => model.Password) @Html.ValidationMessageFor(model => model.Password)
        <br />
        <button type="submit">Login</button>
    }
</div>


